.container {
  background: url('./FonsDegradat.png') no-repeat center center;
  background-size: cover; /* Ajusta la mida de la imatge al contenidor */
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  padding: 40px 40px;
  text-align: center;
  width: 450px;
  margin: 0 auto; /* Centrat horitzontalment */
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.splash-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; /* Per centrar verticalment */
}

.splash-text {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px;
}

.runners-image {
  width: 50%;
  max-width: 300px;
  height: auto;
  margin-top: 20px;
}

.form-container {
  text-align: center;
  color: white;
}

.gradient-text {
  font-size: 2.5rem;
  font-weight: bold;
  color: #d7cbcb;
  margin-bottom: 20px;
}

.route-image {
  width: 50%;
  max-width: 300px;
  height: auto;
  margin-top: 20px;
}