body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f4f6;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h6 {
  margin: 0;
  font-weight: bold;
}

.strava-container {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  padding: 40px 40px;
  text-align: center;
  width: 450px;
  margin: 10px auto;
  height:900px;
}

.logo {
  font-size: 28px;
  font-weight: 900;
  color: #ff6b6b;
  margin-bottom: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}


.activities-container {
  max-height: 500px; /* Ajusta segons sigui necessari */
  overflow-y: auto; /* Activa el desplaçament vertical */
  padding: 10px;
  margin: 20px 0;
  background-color: #f9fafb;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Opcional: estil del scrollbar */
.activities-container::-webkit-scrollbar {
  width: 8px;
}

.activities-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

.activities-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.activities-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.activity-block {
  display: flex;
  align-items: center;
  gap: 20px;
  background: #ffffff;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.activity-block:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.activity-block h3 {
  color: #333;
  font-size: 18px;
  margin-bottom: 5px;
}

.activity-block h6 {
  color: #666;
  font-size: 14px;
  margin: 5px 0;
}

.activity-images {
  display: flex; /* Posa les imatges en fila */
  gap: 10px; /* Espai entre imatges */
  justify-content: center; /* Centra les imatges */
  margin-top: 10px;
}

.image-container {
  position: relative;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container .image-label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding: 3px 0;
  font-weight: bold;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}


.edit-button {
  background: linear-gradient(90deg, #ff6b6b, #ffa07a);
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin-top: 20px;
}

.edit-button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}