/* Contenedor principal */
.signin-container {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  padding: 40px 40px;
  text-align: center;
  width: 450px;
  margin: 10px auto;
  height:900px;
  padding-bottom: 100px; /* Espai per al botó */
}

/* Imagen del perfil */
.profile-picture {
  width: 150px;
  height: 150px;
  margin: 0 auto; /* Centra automáticamente */
  border-radius: 50%;
  background-image: url('https://via.placeholder.com/150'); /* Imagen temporal */
  background-size: cover;
  background-position: center;
  border: 5px solid #ffa07a;
}

/* Formulario */
.signin-form {
  width: 90%; /* Asegura que el formulario ocupe todo el ancho del contenedor */
}

/* Etiquetas */
label {
  font-weight: bold;
  font-size: 18px;
  color: #333;
  text-align: left;
  display: block;
  margin-bottom: 8px;
}

/* Entradas de texto */
input {
  width: 100%;
  padding: 14px;
  border: none;
  background: linear-gradient(to right, #ddd, #f2f2f2);
  border-radius: 10px;
  margin-bottom: 30px;
  font-size: 14px;
}

input::placeholder {
  color: #999;
}

/* Botón */
.signin-button {
  background: linear-gradient(90deg, #ff6b6b, #ffa07a, #f39c12);
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.signin-button:hover {
  transform: scale(1.1); /* Només efecte d'escalat */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Només canvi a l'ombra */
  background: linear-gradient(90deg, #ff6b6b, #ffa07a, #f39c12); /* Manté el mateix gradient */
  color: white; /* Manté el text blanc */
}


/* Imagen del mapa/GIF */
.map-image {
  margin-top: 105px;
  width: 80%; /* Ocupa el ancho del contenedor */
  height: 200px;
  background: url('https://via.placeholder.com/500x200') no-repeat center center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}