/* Contenedor principal */
.carousel-container {
  text-align: center;
  padding: 20px;
  background: linear-gradient(to bottom, #ffffff);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Logo */
.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: bold;
  background: linear-gradient(90deg, #ff7e5f, #ffa07a, #f39c12);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}


/* Slide */
.carousel-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel-image {
  width: 300px; /* Ajusta según sea necesario */
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.carousel-text {
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  color: #ef8c0a;
  margin-bottom: 30px;

   /* Estilo del contenedor */
   padding: 10px 20px; /* Espaciado interno */
   border: 2px solid #efb20a; /* Borde del contenedor */
   border-radius: 10px; /* Bordes redondeados */
   background-color: #fff8f0; /* Fondo claro */
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para efecto flotante */
   display: inline-block; /* Ajustar al contenido del texto */
}

/* Botones */
.carousel-buttons {
  display: flex;
  gap: 10px;
}

.auth-button {
  background: linear-gradient(to right, #ff8645, #e7ad0e);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.auth-button:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
