.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px; /* Slimmer height */
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid;
  border-image: linear-gradient(to right, #92278f, #f37735) 1;
}

.footer-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
}

.footer-icon img {
  width: 20px;
  height: 20px;
}

.footer-icon span {
  font-size: 12px;
  color: #92278f;
}

.footer-icon:hover span {
  color: #f37735;
}
